/*fixed layout with 1200px width*/

/*symbols-sedona.css*/
@font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.eot?60737633');
    src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
    url('../font/symbols-sedona.woff?60737633') format('woff'),
    url('../font/symbols-sedona.ttf?60737633') format('truetype'),
    url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "symbols-sedona";
    font-style: normal;
    font-weight: normal;
    /*speak: none;*/

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook:before {
    content: '\66';
}

/* 'f' */
.icon-twitter:before {
    content: '\74';
}

/* 't' */
.icon-up-dir:before {
    content: '\25b2';
}

/* '?' */
.icon-down-dir:before {
    content: '\25bc';
}

/* '?' */
.icon-star:before {
    content: '\2605';
}

/* '?' */
.icon-check-off:before {
    content: '\2610';
}

/* '?' */
.icon-check-on:before {
    content: '\2611';
}

/* '?' */
.icon-calendar:before {
    content: '\e800';
}

/* '?' */
.icon-plus:before {
    content: '\e801';
}

/* '?' */
.icon-minus:before {
    content: '\e802';
}

/* '?' */
.icon-youtube:before {
    content: '\f39e';
}

/* '?'*/

/*For index.html mainly */
body {
    font-size: 14px;
    line-height: normal;
    color: #333333;
    font-weight: normal;
    font-family: "PT Sans", "Arial", sant-serif;
    text-transform: uppercase;
}

body a {
    color: #333333;
}

.mainNavigation {
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sant-serif;
}

.caption {
    font-size: 21px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sant-serif;
    margin: 0;

}

.photoRibbon {
    color: #ffffff;
}

.advantagePicsRibbon .description {
    line-height: 21px;
    margin-top: 20px;
}

.interestedRibbon span {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sant-serif;
}

.interestedRibbon p {
    line-height: 23px;
    margin-top: 26px;
}

.form .caption {
    color: #ffffff;
    font-weight: bold;
}

.searchHotelBtn h2 {
    background-color: #766357;
    margin: 0;
}

.formLine {
    font-family: "PT Sans", "Arial", sant-serif;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 30px;
}

.footerCopyright {
    color: #000000;
}

/*For hotels.html*/
.filter {
    color: #ffffff;
}

.searchCriteria {
    font-weight: bold;
    font-size: 16px;
    font-family: "PT Sans", "Arial", sant-serif;
    margin-bottom: 11px;
    letter-spacing: 0.5px;
}

.priceFilter h3 {
    letter-spacing: 0.3px;
}

.down, .stars {
    color: #81b3d2;
    float: right;
}

.stars {
    font-size: 24px;
    position: relative;
    bottom: 5px;
    letter-spacing: -1px;
}

.item .btn {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sant-serif;
}

/*======================================*/
.active a {
    color: #766357;
}

.active a:hover {
    color: #766357;
}

.active a:active {
    color: #dbd8d5;
}
/*======================================
 positioning elements index
=======================================*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    padding: 0;
    margin: 0;
    position: relative;
}

header {
    padding: 4px 0;
    position: relative;
    display: block;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 2px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header .logoMenu img {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 44.4%;
    top: 0;
    z-index: 5;
}

.mainNavigation {
    margin-left: 72px;
}

.mainNavigation li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline;
}

.mainNavigation a:hover {
    color: #81b3d2;
}

.mainNavigation a:active {
    color: #cacaca;
}

.active a {
    color: #766357;
}

.active a:hover {
    color: #604e43;
}

.active a:active {
    color: #dbd8d5;
}

.mainNavigation a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    letter-spacing: 0.3px;
}

.mainNavigation ul {
    padding: 0;
}

.mainNavigation li:nth-child(1) {
    margin-right: 142px;
}

.mainNavigation li:nth-child(2) {
    margin-right: 383px;
}

.mainNavigation li:nth-child(3) {
    margin-right: 159px;
}

.welcomeToSedona {
    position: relative;
    height: 508px;
    overflow: hidden;
    background-color: #E1F0F7;
}
.imgWelcomeToSedona{
    display: block;
    position: relative;
}
.imgWelcomeToSedona img{
    position: absolute;
    top:-57px;
}
.welcomeToSedona img:nth-child(2) {
    position: absolute;
    top: 76px;
    left: 31%;
}

.welcomeToSedona img:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
}

.definition h2 {
    padding: 0;
    margin: 0;
    line-height: 25px;
    letter-spacing: 0.1px;
}

.definition p {
    padding: 0;
    margin: 0;
    padding-top: 33px;
}

.definition {
    padding-top: 60px;
    margin: 0 auto;
    width: 550px;
    text-align: center;
}

.photoRibbon, .advantageRibbon {
    min-height: 256px;
}

.advantageRibbon p {
    margin-top: 22px;
}

.photoRibbon .advantages {
    background-color: #81b3d2;
    width: 400px;
    position: relative;
    text-align: center;
    padding-top: 51px;
    min-height: 203px;
    line-height: 24px;
    overflow: hidden;
}

.photoRibbonRight {
    margin-top: 55px;
    margin-bottom: 46px;
}

.photoRibbonRight img {
    float: right;
}

.advantages .advantagesContent {
    width: 265px;
    position: absolute;
    left: 68px;
    top: 52px;
}

.advantagesContent h2 {
    width: 130px;
    margin: 0 auto;
    color: white;
}

.photoRibbonRight .advantages {
    float: left;
    padding-top: 53px;
}

.photoRibbon .description {
    margin-top: 18px;
    line-height: 26px;
}

.photoRibbonLeft .advantagesContent {
    width: 215px;
    left: 93px;
    top: 53px;
}

.photoRibbonLeft {
    margin-top: 47px;
}

.photoRibbonLeft img {
    float: left;
}

.photoRibbonLeft .advantages {
    float: right;
    padding-top: 53px;
    text-align: center;
    min-height: 203px;
}

.advantagePicsRibbon figure {
    width: 268px;
    float: left;
    text-align: center;
    position: relative;

}

.advantagePicsRibbon .advantagesPicsRibbonSprite {
    display: inline-block;
    width: 75px;
    height: 76px;
    vertical-align: middle;
    background-image: url("../img/spriteHouseFoodSouvenire.png");
    background-repeat: no-repeat;
}

.food {
    background-position: -85px 0;
}

.souvenir {
    background-position: -164px 0;
}

figure .advantages {
    width: 266px;
    margin: 22px auto;
}

.advantagePicsRibbon figure:nth-child(1) {
    margin-right: 92px;
    margin-left: 67px;
}

.advantagePicsRibbon figure:nth-child(2) {
    margin-right: 91px;
}

.advantageRibbon {
    margin-left: 70px;
    margin-right: 70px;
}

.advantages .caption {
    width: 155px;
    text-align: center;
    display: inline-block;
    letter-spacing: 0.3px;
}

.advantageRibbon .advantages {
    float: left;
    width: 262px;
    margin-right: 137px;
    margin-top: 44px;
    text-align: center;
    line-height: 26px;
}

.advantageRibbon .description {
    margin: 0 auto;
    width: 270px;
    margin-top: 15px;
    position: relative;
    right: 4px;
}

.description p {
    line-height: 17px;
    margin-top: 21px;
}

.advantageRibbon .fewTourists {
    margin-right: 0;
}

.interestedRibbon {
    padding: 0;
    padding-top: 48px;
    width: 437px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 46px;
}

.form {
    width: 568px;
    margin: 0 auto;
    cursor: pointer;
}

.map {
    height: 593px;
    bottom: -231px;
}
.map iframe{
    display: none;
}
.staticMapHidden{
    display: none;
}
.form input {
    border: 0;
    background-color: #f2f2f2;
    height: 38px;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
}

.form input:hover {
    background: #ebebeb;
}

.form input:focus {
    background: none;
    border: solid 2px #e5e5e5;
    height: 34px;
}

.searchHotelBtn h2 {
    padding-top: 29px;
    text-align: center;
    padding-bottom: 30px;
}

.form a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 0.3px;
}

.form .formLine {
    height: 37px;
    margin-left: 54px;
    margin-right: 55px;
    position: relative;
}

.formLine span {
    position: relative;
    display: inline-block;
    margin-top: 12px;
    left: 3px;
    letter-spacing: 0.5px;
}

.longLine input {
    width: 299px;
    float: right;
    padding-left: 8px;
    padding-right: 39px;
}

.formLine .adults {
    position: relative;
    left: -4px;
    top: 1px;
}

.formLine .children {
    float: right;
    position: relative;
    top: 1px;
    left: 2px;
}

.adults input {
    margin-left: 40px;
}

.shortLine input {
    width: 54px;
    padding: 0 30px;
}

.form button {
    height: 58px;
    margin: 28px 0 55px 55px;
    width: 458px;
    background-color: transparent;
    border: 0;
    background: #81b3d2;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.form button:hover {
    background: #669ec0;
}

.form button:active {
    background: #5496bd;
    color: #94b9d2;
}

.formLine label {
    color: #000000;

}

.formLine i {
    font-size: 21px;
    position: absolute;
    color: #a9a9a9;
    cursor: pointer;
}

.formLine i:hover {
    color: #000000;
}

.formLine i:active {
    color: #81b3d2;
}

.formLine .icon-calendar {
    right: 4px;
    top: 7px;
}

.adults i {
    font-size: 14px;
}

.children i {
    font-size: 14px;
}

.children span {
    position: relative;
    left: -22px;
}

.adults .icon-minus {
    left: 127px;
    top: 1px;
}

.adults .icon-plus {
    left: 202px;
    top: 1px;
}

.children .icon-minus {
    left: 52px;
    top: 13px;
}

.children .icon-plus {
    left: 128px;
    top: 13px;
}

.formContent {
    position: absolute;
    top: 0;
    padding-top: 53px;
    background: #ffffff;
    margin: auto;
    margin-left: -284px;
    left: 50%;
    cursor: default;
    display: none;
}
.formContentShow{
    display: block;
}
footer {
    position: relative;
    min-width: 1200px;
}

.footerRow {
    /*position: absolute;*/
    bottom: 0;
    height: 120px;
    position: absolute;
    background: #ffffff;
    opacity: 0.9;
}

.visitSedona {
    width: 136px;
    float: left;
    margin-right: 256px;
    margin-top: 46px;
    margin-left: 132px;
    font-weight: bold;
}

.visitSedona a {
    text-decoration: none;
    letter-spacing: 0.3px;
}

.footerSocial {
    width: 152px;
    float: left;
    margin-top: 36px;
    position: relative;
}

.footerSocial i {
    color: white;
    font-size: 19px;
    position: absolute;
    /* padding-bottom: 36px;*/
}

.footerSocial .icon-twitter {
    top: 12px;
    left: 11px;
}

.footerSocial .icon-facebook {
    top: 11px;
    left: 63px;
}

.footerSocial .icon-youtube {
    top: 9px;
    left: 112px;
    font-size: 23px;
}

.footerSocial .socialBtn {
    display: inline-block;
    height: 48px;
    width: 46px;
    background-color: #81b3d2;
}

.footerSocial .socialBtnTw {
    margin-right: 6px;
}

.footerSocial .socialBtnFb {
    width: 47px;
    margin-right: 6px;
}

.footerCopyright {
    width: 195px;
    float: right;
    margin-right: 21px;
}

.footerCopyright .iconHtmlAcademySprite {
    display: block;
    margin-top: 41px;
    width: 113px;
    height: 39px;
    background-image: url("../img/iconHtmlAcademy.png");
    background-repeat: no-repeat;
}

.footerCopyright .iconHtmlAcademySprite:hover {
    background-position: 0 -48px;
}

.footerCopyright .iconHtmlAcademySprite:active {
    background-position: 0 -95px;
}

.footerCopyright span {
    position: absolute;
    right: 225px;
    margin-top: 50px;
    vertical-align: middle;
}

.footerSocial a:hover {
    background: #669ec0;
}

.footerSocial a:active {
    background: #5496bd;
}

.footerSocial a:active i {
    color: #94b9d2;
}

/*======================================
 positioning elements hotels
=======================================*/
.filter {
    position: relative;
    top: 6px;
    background-image: url("../img/bgMain.png");

    overflow: hidden;
    padding-bottom: 7px;
}

.bgMain {
    position: relative;
    background-image: url("../img/bgMain.png"); /*не получается*/
    background-repeat: no-repeat;
    background-color: #5D6380;
}

.filter form {
    margin-left: 72px;
    padding-top: 9px;
}

.filter span {
    cursor: pointer;
    display: block;
    margin-bottom: 28px;
    margin-left: 40px;
}

.infrastructureFilter {
    width: 140px;
    float: left;
    margin-right: 114px;
    position: relative;
    top: 2px;
}

.infrastructureFilter label {
    display: block;
    position: relative;
    margin-top: 27px;
    margin-left: -1px;
}

.habitationFilter {
    width: 136px;
    float: left;
    margin-right: 55px;
    position: relative;
    top: 2px;
}

.habitationFilter label {
    display: block;
    position: relative;
    margin-top: 27px;
    margin-left: 2px;
}

.filter input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + span:before {
    content: "\2611";
}

input[type="checkbox"] + span:before {
    content: "\2610";
    font-family: "symbols-sedona";
    font-size: 26px;
    cursor: pointer;
    margin-right: 15px;
    color: #b5b5b5;
    position: absolute;
    top: -4px;
    left: 0;
}

input[type="checkbox"]:hover + span:before {
    color: #ffffff;
}

input[type="checkbox"]:disabled + span:before {
    color: #6a6a6a;
    cursor: default;
}

label .disabled {
    color: #6a6a6a;
    cursor: default;
}

.filter label:hover {
    color: #fefefe;
}

.priceFilter {
    width: 328px;
    float: right;
    position: relative;
    margin-right: 72px;
    margin-top: 2px;
}

.priceFilterFrame {
    width: 314px;
    float: right;
    height: 32px;
    border: 2px solid #ffffff;
    border-radius: 3px;
}

.priceFilterScrollBox {
    position: relative;
    width: 318px;
    top: 47px;
    left: 11px;
}

.priceFilter input {
    background-color: transparent;
    border: 0;
    width: 65px;
    color: #ffffff;
    font-size: 14px;
    font-family: "PT Sans", "Arial", sant-serif;
}

.priceFilter label {
    display: inline-block;
    margin-top: 7px;
}

.priceFilter label:first-child {
    padding-left: 65px;

}

.priceFilter #from /* input:nth-child(1)*/
{
    margin-right: 56px;
    margin-left: 2px;
}

.priceFilter #till /*input:nth-child(2)*/
{
    margin-right: 0;
    width: 65px;
    margin-left: 2px;
}

.delimiter {
    position: absolute;
    background-color: #FFF;
    height: 22px;
    width: 2px;
    top: 53px;
    left: 39.4%;
}

input[type="text"]:focus {
    outline: none;
}

.filter button:last-child {
    padding: 7px 35px 7px;
    width: 137px;
    float: right;
    margin-right: 168px;
    margin-top: 54px;
    margin-bottom: 23px;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.whiteLine {
    height: 2px;
    background: #ffffff;
}

.greyLine {
    height: 2px;
    background: #ababab;
    margin-top: 20px;
}

.priceFilterScrollBox .toggle {
    width: 4px;
    height: 4px;
    border: 8px solid #fff;
    background: #ababab;
    box-shadow: 0 0 1px 0 #ababab;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    cursor: pointer;
}

.priceFilterScrollBox .toggle-min {
    left: 0;

}

.priceFilterScrollBox .toggle-max {
    left: 252px;
}

.priceFilterScrollBox .toggle:hover {
    background: #1c4f80;
}

.filter button {
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    color: #ffffff;
}

.hasFound {
    display: inline-block;
    width: 117px;
    margin-right: 42px;
    position: relative;
    top: 3px;
}

.sort {
    font-size: 12px;
    display: inline-block;
    vertical-align: bottom;
    font-weight: bold;
}

.sort .active {
    color: #81b3d2;
    text-decoration: none;
}

.sort span {
    color: #000000;
    margin-right: 37px;
}

.sort a {
    margin-right: 33px;
    color: #cacaca;
    text-decoration: none;
    border-bottom: 1px dotted #81b3d2;
}

.sort a:nth-child(2) {
    border-bottom: none;
}

.sort a:nth-child(3):hover {
    color: #81b3d2;
}

.sort a:nth-child(4):hover {
    color: #81b3d2;
}

.sort a:nth-child(3):active {
    color: #000000;
    border-bottom: none;
}

.sort a:nth-child(4):active {
    color: #000000;
    border-bottom: none;
}

.upDown {
    width: 36px;
    float: right;
    position: relative;
    top: 9px;
    right: -1px;
}

.upDown .up {
    color: #cccccc;
}

.upDown a {
    text-decoration: none;
}

.upDown a:hover {
    color: #000000;
}

.upDown a:active {
    color: #81b3d2;
}

.searchedItems {
    padding: 26px 73px 33px 72px;
}

.rating {
    float: right;
}

.scale {
    margin-top: 69px;
    width: 109px;
    height: 22px;
    text-align: center;
    padding-top: 5px;
    background: #f2f2f2;
}

.item {
    border-top: 2px solid rgb(229, 229, 229);
    padding: 23px 72px 35px;

}
.item .btn{
    margin-left: 4px;
}
.searchedResults .item:last-child {
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 25px;
}

.item img {
    margin-right: 26px;
    width: 135px;
    margin-top: 6px;
    float: left;
}

.searchedHabitation {
    margin-left: 165px;
    width: 780px;
}

.searchedHabitation a {
    margin: 0;
    padding: 0;
    letter-spacing: 0.3px;
    display: block;
}

.searchedHabitation a:hover {
    color: #81b3d2;
}

.searchedHabitation a:active {
    color: #cacaca;
}

.item a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.fittedHabitation {
    float: left;
    margin-right: 6px;
    display: inline-block;
    width: 110px;
}

.fittedHabitation a {
    width: 110px;
    background: #81b3d2;
    margin-top: 19px;
    padding: 4.5px 17.4px;
}

.fittedHabitation a:hover {
    background: #669ec0;
}

.fittedHabitation a:active {
    background: #5496bd;
    color: #cccccc;

}

.fittedPrice a {
    width: 142px;
    background: #766357;
    padding: 4.4px 16px;
    letter-spacing: 0.3px;
}

.fittedPrice a:hover {
    background: #604e43;
}

.fittedPrice a:active {
    background: #503e33;
    color: #cccccc;
}

.itemBtn {
    margin-top:20px;
    width: 785px;
    margin-left: 160px;
}

.itemDetails {
    margin-top: 8px;
}

footer .hotelsFooter {
    bottom: 26px;
    position: relative;
}

.hotelsfooterCopyright span {
    position: absolute;
    right: 299px;
    margin-top: 51px;
    vertical-align: middle;
}

