/*symbols-sedona.css*/
@font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.eot?60737633');
    src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
    url('../font/symbols-sedona.woff?60737633') format('woff'),
    url('../font/symbols-sedona.ttf?60737633') format('truetype'),
    url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "symbols-sedona";
    font-style: normal;
    font-weight: normal;
    /*speak: none;*/

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook:before {
    content: '\66';
}

/* 'f' */
.icon-twitter:before {
    content: '\74';
}

/* 't' */
.icon-up-dir:before {
    content: '\25b2';
}

/* '?' */
.icon-down-dir:before {
    content: '\25bc';
}

/* '?' */
.icon-star:before {
    content: '\2605';
}

/* '?' */
.icon-check-off:before {
    content: '\2610';
}

/* '?' */
.icon-check-on:before {
    content: '\2611';
}

/* '?' */
.icon-calendar:before {
    content: '\e800';
}

/* '?' */
.icon-plus:before {
    content: '\e801';
}

/* '?' */
.icon-minus:before {
    content: '\e802';
}

/* '?' */
.icon-youtube:before {
    content: '\f39e';
}

/* '?'*/

/*For index.html mainly */
body {
    font-size: 14px;
    line-height: normal;
    color: #333333;
    font-weight: normal;
    font-family: "PT Sans", "Arial", sant-serif;
    text-transform: uppercase;
}

body a {
    color: #333333;
}

.mainNavigation {
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sant-serif;
}

.caption {
    font-size: 21px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sant-serif;
    margin: 0;

}

.photoRibbon {
    color: #ffffff;
}

.advantagePicsRibbon .description {
    line-height: 21px;
}

.interestedRibbon span {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sant-serif;
}

.interestedRibbon p {
    line-height: 24px;
}

.form .caption {
    color: #ffffff;
    font-weight: bold;
}

.form h2 {
    background-color: #766357;
    margin: 0;
}

.formLine {
    font-family: "PT Sans", "Arial", sant-serif;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 30px;
}

.footerCopyright {
    color: #000000;
}

/*For hotels.html*/
.filter {
    color: #ffffff;
}

.searchCriteria {
    font-weight: bold;
    font-size: 16px;
    font-family: "PT Sans", "Arial", sant-serif;
}

.sort {
    font-size: 12px;
}

.sort span {
    color: #000000;
}

.sort .active {
    color: #81b3d2;
    text-decoration: none;
}

.down, .stars {
    color: #81b3d2;
    float: right;
}

.item .btn {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sant-serif;
}

/*======================================
 positioning elements index
=======================================*/
.cleafix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    padding: 0;
    margin: 0;
    position: relative;
}

header {
    padding: 5px 0;
    position: relative;
    display: block;
    width: 1200px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header .logoMenu img {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 45%;
    top: 0;
    z-index: 5;
    /* display: block;
     margin: 0px auto;
    */
}

.mainNavigation, .searchNavigation {
    margin-left: 72px;
    margin-right: 72px;
}

.mainNavigation li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline;
}

.mainNavigation a:hover {
    color: #81b3d2;
}

.mainNavigation a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.mainNavigation ul {
    padding: 0;
}

.mainNavigation li:nth-child(1) {
    margin-right: 144px;
}

.mainNavigation li:nth-child(2) {
    margin-right: 383px;
}

.mainNavigation li:nth-child(3) {
    margin-right: 156px;
}

.welcomeToSedona {
    position: relative;
    height: 508px;
    overflow: hidden;
}

.welcomeToSedona img:nth-child(2) {
    position: absolute;
    top: 76px;
    left: 30%;
}

.welcomeToSedona img:nth-child(2) {
    position: absolute;
    top: 76px;
    left: 30%;
}

.welcomeToSedona img:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
}

.definition h2 {
    padding: 0;
    margin: 0;
}

.definition p {
    padding: 0;
    margin: 0;
    padding-top: 39px;
    width: 490px;
}

.definition {
    padding-top: 61px;
    margin: 0 auto;
    width: 487px;
    text-align: center;
}

.photoRibbon, .advantageRibbon {
    min-height: 256px;
}

.photoRibbon .advantages {
    background-color: #81b3d2;
    width: 400px;
    position: relative;
    text-align: center;
    padding-top: 53px;
    min-height: 203px;
}

.photoRibbonRight {
    margin-top: 56px;
}

.photoRibbonRight img {
    float: right;
}

.advantages .advantagesContent {
    width: 265px;
    position: absolute;
    left: 68px;
}

.advantagesContent h2 {
    width: 130px;
    margin: 0 auto;
    color: white;
}

.photoRibbonRight .advantages {
    float: left;
}

.photoRibbonLeft .advantagesContent {
    width: 215px;
    left: 90px;
}

.photoRibbonLeft {
    margin-top: 85px;
}

.photoRibbonLeft img {
    float: left;
}

.photoRibbonLeft .advantages {
    float: right;
    padding-top: 58px;
    text-align: center;
    min-height: 198px;
}

.advantagePicsRibbon figure {
    width: 268px;
    float: left;
    text-align: center;
    position: relative;

}

.advantagePicsRibbon .advantagesPicsRibbonSprite {
    display: inline-block;
    width: 75px;
    height: 76px;
    vertical-align: middle;
    background-image: url("../img/spriteHouseFoodSouvenire.png"); /*почему не загружается изображение*/
    background-repeat: no-repeat;
}

.food {
    background-position: -85px 0;
}

.souvenir {
    background-position: -162px 0;
}

figure .advantages {
    width: 266px;
    margin: 0 auto;
}

figure:nth-child(3) .advantages {
    width: 197px;
    /*не получается китайского,
                                     но*/
}

.advantagePicsRibbon figure:nth-child(1) {
    margin-right: 125px;
}

.advantagePicsRibbon figure:nth-child(2) {
    margin-right: 107px;
}

/*
.advantages h2{
    margin: 0;
    padding: 0;
}*/
.advantageRibbon {
    margin-left: 70px;
    margin-right: 70px;
}

.advantageRibbon .advantages {
    float: left;
    width: 262px;
    margin-right: 137px;
    margin-top: 50px;
    text-align: center;
}

.advantageRibbon .description {
    width: 260px;
    /*ужиманием не получается достигнуть нужных переносов
                      либо делать два <p>, либо <br> в "Небольшая площадь"*/
    margin: 0 auto;
    margin-top: 31px;
}

.advantageRibbon .fewTourists {
    margin-right: 0;
}

.interestedRibbon {
    padding: 0;
    padding-top: 57px;
    width: 437px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 45px;
}

.form {
    width: 568px;
    margin: 0 auto;
    cursor: pointer;
}

.map {
    /* position: absolute;*/
    height: 593px;
    bottom: -231px;
}

.form input {
    border: 0;
    background-color: #f2f2f2;
    height: 38px;
    text-transform: uppercase;
    color: #000000; /*почему не срабатывает черный цвет?*/
    font-weight: bold;
}

.form h2 {
    padding-top: 35px;
    text-align: center;
    padding-bottom: 33px;
}

.form a {
    text-decoration: none;
    color: #ffffff;
}

.form .formLine {
    height: 40px;
    margin-left: 54px;
    margin-right: 51px;
    position: relative;
}

.formLine span {
    display: inline-block;
    margin-top: 11px;
}

.longLine input {
    width: 299px;
    float: right;
    padding-left: 13px;
    padding-right: 34px;
}

.longLine::before {
    content: url("../img/bgCalendar.png");
    position: absolute;
    right: 9px;
    top: 8px;
    cursor: pointer;
}

.children::before {
    content: url("../img/bgMinus.png");
    position: absolute;
    top: 8px;
    right: 87px; /*90px;*/
    cursor: pointer;
}

.children::after {
    content: url("../img/bgPlus.png");
    position: absolute;
    top: 12px;
    right: 13px;
    cursor: pointer;
}

.adults::before {
    content: url("../img/bgMinus.png");
    position: absolute;
    top: 8px;
    left: 130px;
    cursor: pointer;
}

.adults::after {
    content: url("../img/bgPlus.png");
    position: absolute;
    top: 12px;
    left: 201px;
    cursor: pointer;
}

.formLine .children {
    float: right;
}

.adults input {
    margin-left: 40px;
}

.shortLine input {
    width: 54px;
    padding: 0 30px;
}

.form button {
    height: 58px;
    margin: 24px 0 55px 55px;
    width: 458px;
    background-color: transparent;
    border: 0;
    background: #81b3d2;
    text-transform: uppercase;
    cursor: pointer;
}

.formLine label {
    color: #000000;
}

div.formContent {
    position: absolute;
    top: 0;
    padding-top: 55px;
    background: #ffffff;
    margin: auto;
    margin-left: -284px;
    left: 50%;
}

footer {
    position: relative;
}

.footerRow {
    /*position: absolute;*/
    bottom: 0;
    height: 120px;
    position: absolute;
    background: #ffffff;
    opacity: 0.9;
}

/*footer .container {*/
/*/!*padding-left: 132px;*!/*/
/*margin: 0 auto;*/
/*}*/

.visitSedona {
    width: 136px;
    float: left;
    margin-right: 256px;
    margin-top: 51px;
    margin-left: 132px;
    font-weight: bold;
}

.visitSedona a {
    text-decoration: none;

}

.footerSocial {
    width: 152px;
    float: left;
    margin-top: 36px;
    position: relative;
}

.footerSocial i {
    color: white;
    font-size: 19px;
    position: absolute;
    /* padding-bottom: 36px;*/
}

.footerSocial .icon-twitter {
    top: 13px;
    left: 10px;
}

.footerSocial .icon-facebook {
    top: 13px;
    left: 61px;
}

.footerSocial .icon-youtube {
    top: 13px;
    left: 114px;
}

.footerSocial .socialBtn {
    display: inline-block;
    height: 48px;
    width: 46px;
    background-color: #81b3d2;
}

.footerSocial .socialBtnTw {
    margin-right: 2px;
}

.footerSocial .socialBtnFb {
    width: 47px;
    margin-right: 2px;
}

.footerSocial.socialBtnInst {

}

.footerCopyright {
    width: 195px;
    float: right;
    margin-right: 103px;
}

.footerCopyright img {
    margin-top: 41px;
}

.footerCopyright span {
    margin-top: -40px; /*почему так интересно вышло?*/
    display: inline-block;
    vertical-align: middle;
}

/*======================================
 positioning elements hotels
=======================================*/
.filter {
    /* position: relative;*/
    background-image: url("../img/bgMain.png");
    overflow: hidden;
}

.bgMain {
    position: relative;
    background-image: url("../img/bgMain.png"); /*не получается*/
    background-repeat: no-repeat;
}

.filter form {
    margin-left: 72px;

    /*position: absolute;
    top: 0;*/
}

.filter span {
    cursor: pointer;
    display: block;
    margin-bottom: 30px; /*new*/
    margin-left: 40px; /*new*/
}

.infrastructureFilter {
    width: 139px;
    float: left;
    margin-right: 115px;
}

.infrastructureFilter label {
    display: block;
    position: relative; /*new*/
}

.habitationFilter {
    width: 136px; /*почему, если задать min-width область становистя широкой?*/
    float: left;
    margin-right: 55px;
}

.habitationFilter label {
    display: block;
    position: relative;
}

.filter input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + span:before {
    content: "\2611";
}

input[type="checkbox"] + span:before {
    content: "\2610";
    font-size: 26px;
    cursor: pointer;
    margin-right: 15px;
    color: #b5b5b5;
    position: absolute; /*new*/
    top: -10px; /*new*/
    left: 0; /*new*/
}

input[type="checkbox"]:hover + span:before {
    color: #ffffff;
}

.filter label:hover {
    color: #fefefe;
}

.priceFilter {
    width: 328px;
    float: right;
    position: relative;
    margin-right: 72px;
}

.priceFilterFrame, .priceFilterScrollBox {
    width: 318px;
    float: right;
}

.priceFilterFrame {
    border: 2px solid #ffffff;
    border-radius: 3px;
    height: 36px;
}

.priceFilter input {
    background-color: transparent;
    border: 0;
    width: 65px;
    margin-left: 5px;
}

.priceFilter label {
    display: inline-block;
    margin-top: 10px;
}

.priceFilter label:first-child {
    /* width: 157px;*/
    padding-left: 65px;

}

.priceFilter #from /* input:nth-child(1)*/
{
    margin-right: 58px;
}

.priceFilter #till /*input:nth-child(2)*/
{
    margin-right: 0;
    width: 65px;
}

.delimiter {
    position: absolute;
    background-color: #FFF;
    height: 22px;
    width: 2px;
    margin-top: 7px;
    left: 50%;
}

.filter button:last-child {
    padding: 8px 33px 8px 35px;
    width: 137px;
    float: right;
    margin-right: 168px;
    margin-top: 23px;
    margin-bottom: 33px;
    cursor: pointer;
}

.priceFilterScrollBox {
    position: relative;
}

.whiteLine {
    height: 2px;
    background: #ffffff;
}

.greyLine {
    height: 2px;
    background: #ababab;
    /* background: #ffffff;
     opacity: 0.5;*/
    margin-top: 20px;
}

.priceFilterScrollBox .toggle {
    width: 4px;
    height: 4px;
    border: 8px solid #fff;
    background: #ababab;
    box-shadow: 0 0 1px 0 #ababab;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    cursor: pointer;
}

.priceFilterScrollBox .toggle-min {
    left: 0;

}

.priceFilterScrollBox .toggle-max {
    left: 252px;
}

.priceFilterScrollBox .toggle:hover {
    background: #1c4f80;
}

.filter button {
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #ffffff;
    /* height: 25px;*/
    border-radius: 2px;
    color: #ffffff;

}

.hasFound {
    display: inline-block;
    width: 115px;
    margin-right: 49px;
}

.sort {
    /* float: left;*/
    display: inline-block;
    vertical-align: bottom;
    font-weight: bold;
}

.sort span {
    margin-right: 40px;
}

.sort a {
    margin-right: 33px;
    color: #cacaca;
    text-decoration: none;
    border-bottom: 1px dotted #81b3d2;
}

.sort a:nth-child(2) {
    border-bottom: none;
}

.sort a:nth-child(3):hover {
    color: #81b3d2;
}

.sort a:nth-child(4):hover {
    color: #81b3d2;
}

.upDown {
    width: 36px;
    float: right;
    position: relative;
    top: 9px;
}

.upDown .up {
    color: #cccccc;
}

.upDown a {
    text-decoration: none;
}

.searchedItems {
    padding-top: 31px;
    padding-bottom: 33px;
}

.rating {
    float: right;
}

.scale {
    margin-top: 47px;
    width: 110px;
    height: 22px;
    text-align: center;
    padding-top: 5px;
    background: #f2f2f2;
}

.item {
    margin: 30px 0;
    position: relative;
}

.item img {
    display: inline-block;
    margin-right: 30px;
    width: 135px;
}

.searchedHabitation {
    display: inline-block;
    width: 258px;
    vertical-align: top;
}

.searchedHabitation h2 {
    margin: 0;
    padding: 0;
}

.item a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    padding: 6px 16px;
}

.fittedHabitation {
    float: left;
    margin-right: 7px;
}

.fittedHabitation a {
    width: 110px;
    background: #81b3d2;
    margin-top: 19px;
}

.fittedPrice a {
    width: 142px;
    background: #766357;
}

.itemBtn {
    position: absolute;
    bottom: 10px;
    left: 165px;
    display: inline-flex;
}

.itemDetails {
    margin-top: 10px;
}

/*.fittedHabitation .btn {
    width: 110px;
}*/

/*.fittedPrice .btn {
    width: 142px;
}*/

.gl0 {
    outline: solid;
    outline-color: aqua;
}

.gl1 {
    outline: solid;
    outline-color: red;
}

.gl2 {
    outline: solid;
    outline-color: green;
}

.gl3 {
    outline: solid;
    outline-color: yellow;
}